<!doctype html>
<html>
<head>
    <title>스프링 부트 웹서비스</title>
    <meta http-equiv="Content-Type" content="text/html; charset = UTF-8" />

    <link rel = "stylesheet" href = "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body> <!-- 페이지 로딩 속도를 높이기 위해 css 는 헤더에 ,js는 footer에 위치-->
